body {
	background-color: black;
	color: white;
}

.wrapper {
	overflow: hidden;	
}

.backgroundVideo {
	position: fixed;
	z-index: -1;
	width: 100vw;
	opacity: 25%;
}

.scoreboardWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.scoreContainer {
	text-align: center;
	margin-bottom: 2rem;
}

.currentSet {
	font-size: 1.5rem;
}

.scoreTracker {
	font-size: 3rem;
}

.cardsContainer {
	width: 50%;
	height: 300px;
	display: flex;
	justify-content: center;
	justify-content: space-between;
	margin-top: 5rem;
}

.cardWrapper {
	width: 35%;
	display: flex;
	flex-direction: column;
	color: white;
	background-color: #874B4B;
	padding: 2rem;
	opacity: 90%;
}

.name {
	font-size: 2rem;
	text-align: center;
}

/* .scoreBox {
	display: flex;
	width: 100%;
	height: 30%;
	justify-content: center;
	align-items: center;
} */

.score {
	color: white;
	font-size: 1.5rem;
	margin-top: 2rem;
}

.sets {
	font-size: 1.5rem;
	margin-top: 2rem;
}

.scoreBtn {
	border: 2px solid white;
	border-radius: 3px;
	padding: 1rem 2rem 1rem 2rem;
	background-color: white;
	opacity: 90%;
	color: #874B4B;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	margin-top: 2rem;
}

.scoreBtn:hover {
	color: white;
	border: 2px solid white;
	background-color: transparent;
	opacity: 70%;
	transition: ease-in-out 0.5s;
}

.resetBtnWrapper {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.resetBtn {
	border: 2px solid #874B4B;
	border-radius: 3px;
	padding: 1rem 2rem 1rem 2rem;
	background-color: #874B4B;
	opacity: 90%;
	color: white;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
}

.resetBtn:hover {
	color: #874B4B;
	border: 2px solid white;
	background-color: white;
	opacity: 70%;
	transition: ease-in-out 0.5s;
}